*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background: #000;
    min-height: 200vh;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header .sticky
{
    padding: 5PX 100PX;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: 0.6s;
    text-shadow: 5px 5px 3px;
}
header span
{
    color: #d9b63b;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul  li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1580658001207-ccd9b884191c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80);
    background-size: cover;
}

header .sticky .logo ,
header .sticky ul li a
{
    color: #fff;
}
.content
{
    position: absolute;
    width: 656px;
    height: 42px;
    left: 48px;
    top: 362px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
}
.content h2
{
    font-size: 48px;
}
.content p
{
    color: #138dfe;
    font-size: 24px;
    top: 300px;
    padding-top: 20px;

}
.content a
{
    position: absolute;
    left: 56px;
    top: 126px;
    background: green;
    color: #fff;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;
}
.iconify1
{
    position: absolute;
    left: 17.24%;
    right: -17.24%;
    top: 2.44%;
    bottom: -1.98%;
}
.about
{
    position: absolute;
    width: 1280px;
    height: 572px;
    left: 0;
    top: 658px;
}
.img
{
    position: absolute;
    width: 328px;
    height: 4456px;
    left: 72px;
    top: 58px;
}
.img img
{
    clip-path: circle();
}
.about h3
{
    position: absolute;
    width: 126px;
    height: 56px;
    left: 642px;
    top: 96px;
    font-size: 36px;
    color: #fff;
}
.about p
{
    position: absolute;
    width: 505px;
    height: 104px;
    left: 599px;
    top: 234px;
    font-size: 1.2em;
    color: #fff;
}
.about a
{
    position: absolute;
    width: 151px;
    height: 42px;
    left: 565px;
    top: 455px;
    background: #d9b63b;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}